/* import framework core */
@import url("../yaml/core/base.min.css");
@import url("brick-0.9.1.byob.min.css");
@import url("../fonts/font-awesome/css/font-awesome.min.css");

/*navigator and toolbar on Edit page*/
@import url("editPage.css");

/*import main page stylesheet*/
@import url('pageIntro.css');

body, html{
    overflow: hidden;
    background:rgba(0,0,0,100);
}
ul li.page-toogler{

}
header{
	text-align:center;
}
.font{
    font-size:1.5em;
    margin-top:10px;
}

#appbar{
    background:rgba(0,0,0,100);
    height:10%;
}

#footer {
    position:absolute;
    width:100%;
    bottom:0%;
    background-color:rgba(0,0,0,100);
    height:10%
}

#slider {
    position:absolute;
    right:-50px;
    transform:rotate(90deg);    
  overflow: hidden;
  background: rgba(0,0,0,100);
}

div.page{
  position: absolute;
  top: 10%;
  left: 0;
  width:100%;
  height: 80%;
  background: red;
}

div.footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0px 0px;
  padding: 0px;
  background-color: rgb(0,0,0);
  left: 0;
}

div#edit-screen{
    left:100%;
    background: green;
    transition-property:left;
    transition-duration:.5s;
}
div.page {
  transition-property: left;
  transition-duration: .5s;
}
div#camera-screen{
  left: 100%;
  background: blue;
}
div#edit-screen{
  left: 200%;
  background: black;
}
div#collage-screen{
  left: 300%;
  background: yellow;
}
div#setting-screen{
  left: 400%;
  background: white;
}

/*Common attributes of navigator and toolbar*/
#navigator {
  background-color: rgb(0,0,0);
  background-image: none;
  visibility: hidden;
}
#navigator>header {
  text-align: center;
}
div#back{
  /*
  It seems the appbar brick sets this by default.
  padding-left: 10px;
  */
}
div#save {
  padding-right: 10px;
}

div#camera-footer {
  background-color: purple;
  left: 100%;
}
div#edit-footer {
  background-color: black;
  left: 200%;
}
div#collage-footer {
  background-color: pink;
  left: 300%;
}
div#setting-footer {
  background-color: green;
  left: 400%;
}

div.footer>ul {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgb(0,0,0);
  margin: 0px 0px;
  padding: 0px;
}
li.tappable {
  display: inline-block;
  width: 35px;
  height: 40px;
  cursor: pointer;
}
li.tappable:hover, li.tappable:focus, #back:focus, #back:hover, #save:focus, #save:hover {
  opacity: 0.6;
}
li.tappable>a {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

i.button-fig {
  color: rgb(128,128,128);
}
span.button-title {
  font-family: "Berlin Sans FB Demi";
  font-size: 0.4em;
  color: rgb(255,255,255);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px auto;
}
#edit-intro{
  display:inline-block;
  position: absolute;
  bottom: 0;
}
#edit-crop{
  display:none;
  position: absolute;
  bottom: 0;
}
#edit-rotate{
  display:none;
  position: absolute;
  bottom: 0;
}
#edit-effect{
  display:none;
  position: absolute;
  bottom: 0;
}
#scrollBar{
  height: 50px;
  width: 200px;
  background: yellow;
  overflow-y: hidden;
  overflow-x: scroll;
  display:inline-block;
}