/*edit page specification*/
#edit-screen .inner span.wrapper {
  display: inline-table;
}
#edit-screen div.inner {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
i#choose-image {
  margin: 0 auto;
  padding-top: 45%;
  color: #eee;
  font-size:3em;
}
i#choose-image:after {
  content: "Click here to choose an image";
  font-size: 18px !important;
  display: block;
}
canvas#image-canvas {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background: #000000;
  overflow: scroll;
  display: none;
}

