/*Style the main screen*/
div#intro-screen {
  background-image: url(../images/intro-bg.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.page-toggler {
  position: absolute;
  display: table;
  width: 23.125%;
  height: 19.27%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.page-toggler>a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
}
.page-toggler#camera {
  background-image: url(../images/button-camera.svg);
  top: 1.2%;
  left: 48.2%;
}
.page-toggler#camera:hover, .page-toggler#camera:focus {
  background-image: none;
}
.page-toggler#edit {
  background-image: url(../images/button-edit.svg);
  top: 16.5%;
  left: 48.2%;
}
.page-toggler#edit:hover, .page-toggler#edit:focus {
  background-image: none;
}
.page-toggler#collage {
  background-image: url(../images/button-collage.svg);
  top: 35.5%;
  left: 48.2%;
}
.page-toggler#collage:hover, .page-toggler#collage:focus {
  background-image: none;
}
.page-toggler#setting {
  background-image: url(../images/button-setting.svg);
  top: 54.2%;
  left: 10.8%;
}
.page-toggler#setting:hover, .page-toggler#setting:focus {
  background-image: none;
}

